# --- NÚCLEO WEB Y ASÍNCRONO ---
fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1

# --- IA Y PROCESAMIENTO DE IMAGEN ---
google-genai==0.3.0  # La nueva librería para Gemini 3.1
pillow==11.3.0

# --- BASE DE DATOS (MongoDB) ---
motor==3.7.1
pymongo==4.13.2

# --- SEGURIDAD Y TOKEN ---
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0

# --- VALIDACIÓN DE DATOS ---
pydantic==2.11.7
pydantic-settings==2.10.1
email-validator==2.3.0

# --- UTILIDADES ---
requests==2.32.4
qrcode==8.2